html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* needed for container min-height */
  font-family: 'Archivo Narrow', sans-serif;
  line-height: 20px;
  background: #FFF;
  color: #4E4E4E;
}
body {
  background-color: #f0f3f8;
  color: #363738;
}
div.block-group {
  width: 80%;
  margin: 0 auto;
}
h1, h2 {
  color: #5d5392;
}
h1, h2, h3, h4, h5, h6, ol, ol li {
  margin: 30px 0;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400;
}
ul li {
  font-weight: bold;
  font-size: 1.35em;
}
ol li {
  font-weight: normal;
  font-size: 0.85em;
}
p, blockquote {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 15px;
}
blockquote {
  font-style: italic;
  background-color: #f9ddd8;
  margin-bottom: 2.5em;
}
a {
  text-decoration: none;
  border: none;
}
a {
  color: #de4327;
}
a:hover {
  background-color: #6C686B;
  color: #F2F2F2;
}